In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import RandomOverSampler
import random

In [2]:
from sklearn.svm import SVC
from sklearn.metrics import classification_report

In [9]:
df = pd.read_csv("iris\iris.csv")
nb_row, nb_col = df.shape
nb_row, nb_col

(150, 5)

In [10]:
df.head(5)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [5]:
def scale_dataset(dataframe, oversample=False):
  X = dataframe[dataframe.columns[:-1]].values
  y = dataframe[dataframe.columns[-1]].values

  scaler = StandardScaler()
  X = scaler.fit_transform(X)

  if oversample:
    ros = RandomOverSampler()
    X, y = ros.fit_resample(X, y)

  data = np.hstack((X, np.reshape(y, (-1, 1))))

  return data, X, y

In [6]:
#train, valid, test = np.split(df.sample(frac=1), [int(0.7*len(df)), int(0.71*len(df))])

train, test = np.split(df.sample(frac=1), [int(0.7*len(df))])

train, x_train, y_train = scale_dataset(train, oversample=True)
#valid, x_valid, y_valid = scale_dataset(valid, oversample=False)
test, x_test, y_test = scale_dataset(test, oversample=False)

c:\Users\misso\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

## SVM

In [7]:
def svm():
    svm_model = SVC(kernel='linear')
    svm_model = svm_model.fit(x_train, y_train)
    y_pred = svm_model.predict(x_test)
    print(classification_report(y_test, y_pred))

In [33]:

#SVC(kernel='rbf') => accuracy = 0.9
#SVC(kernel='linear') => accuracy = 0.93
#SVC(kernel='poly') => accuracy = 0.83
#SVC(kernel='sigmoid') => accuracy = 0.9

#if we modify % of dataset in train and test, it modify the accuracy

              precision    recall  f1-score   support

      Setosa       1.00      1.00      1.00        17
  Versicolor       1.00      0.86      0.92        14
   Virginica       0.88      1.00      0.93        14

    accuracy                           0.96        45
   macro avg       0.96      0.95      0.95        45
weighted avg       0.96      0.96      0.96        45

## Log Regression

In [13]:
from sklearn.linear_model import LogisticRegression

In [14]:
lg_model = LogisticRegression()
lg_model = lg_model.fit(x_train,y_train)

In [15]:
y_pred = lg_model.predict(x_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

      Setosa       1.00      1.00      1.00        11
  Versicolor       0.79      1.00      0.88        15
   Virginica       1.00      0.79      0.88        19

    accuracy                           0.91        45
   macro avg       0.93      0.93      0.92        45
weighted avg       0.93      0.91      0.91        45

## TensorFlow

In [3]:
import tensorflow as tf
from sklearn.model_selection import train_test_split
import numpy as np

WARNING:tensorflow:From c:\Users\misso\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [4]:
df = pd.read_csv("iris\iris.csv")
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [5]:
#Separate columns

selected_columns = ['sepal.length', 'sepal.width', 'petal.length', 'petal.width']
X = df[selected_columns].copy()
X

     sepal.length  sepal.width  petal.length  petal.width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [6]:
selected_columns = ['variety']
Y = df[selected_columns].copy()
Y

       variety
0       Setosa
1       Setosa
2       Setosa
3       Setosa
4       Setosa
..         ...
145  Virginica
146  Virginica
147  Virginica
148  Virginica
149  Virginica

[150 rows x 1 columns]

In [7]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [8]:
X_train

     sepal.length  sepal.width  petal.length  petal.width
22            4.6          3.6           1.0          0.2
15            5.7          4.4           1.5          0.4
65            6.7          3.1           4.4          1.4
11            4.8          3.4           1.6          0.2
42            4.4          3.2           1.3          0.2
..            ...          ...           ...          ...
71            6.1          2.8           4.0          1.3
106           4.9          2.5           4.5          1.7
14            5.8          4.0           1.2          0.2
92            5.8          2.6           4.0          1.2
102           7.1          3.0           5.9          2.1

[120 rows x 4 columns]

In [9]:
y_train

        variety
22       Setosa
15       Setosa
65   Versicolor
11       Setosa
42       Setosa
..          ...
71   Versicolor
106   Virginica
14       Setosa
92   Versicolor
102   Virginica

[120 rows x 1 columns]

In [10]:
#unique values of y_train
a = []
for value in y_train.values:
    a.append(value[0])
set(a)

{'Setosa', 'Versicolor', 'Virginica'}

In [11]:
from sklearn.calibration import LabelEncoder


# Transform {'Setosa', 'Versicolor', 'Virginica'} to vectors {[1., 0., 0.], [0., 1., 0.], [0., 0, 1]}

label_encoder = LabelEncoder()
y_train['variety'] = label_encoder.fit_transform(y_train['variety'])
y_test['variety'] = label_encoder.fit_transform(y_test['variety'])

y_train = tf.keras.utils.to_categorical(y_train)  # Convert y_train to one-hot encoded format [1., 0., 0.], [0., 1., 0.], [0., 0, 1]
y_test = tf.keras.utils.to_categorical(y_test)  # Convert y_test to one-hot encoded format [1., 0., 0.], [0., 1., 0.], [0., 0, 1]

In [12]:
y_train

array([[1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]], dtype=float32)

In [13]:
# Build the neural network
model = tf.keras.Sequential([
    tf.keras.layers.Dense(10, input_dim=X.shape[1], activation='relu'),  # Input layer
    tf.keras.layers.Dense(8, activation='relu'),  # Hidden layer
    tf.keras.layers.Dense(3, activation='softmax')  # Output layer with 3 neurons (softmax for multi-class classification)
])

WARNING:tensorflow:From c:\Users\misso\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [14]:
X_test

     sepal.length  sepal.width  petal.length  petal.width
73            6.1          2.8           4.7          1.2
18            5.7          3.8           1.7          0.3
118           7.7          2.6           6.9          2.3
78            6.0          2.9           4.5          1.5
76            6.8          2.8           4.8          1.4
31            5.4          3.4           1.5          0.4
64            5.6          2.9           3.6          1.3
141           6.9          3.1           5.1          2.3
68            6.2          2.2           4.5          1.5
82            5.8          2.7           3.9          1.2
110           6.5          3.2           5.1          2.0
12            4.8          3.0           1.4          0.1
36            5.5          3.5           1.3          0.2
9             4.9          3.1           1.5          0.1
19            5.1          3.8           1.5          0.3
56            6.3          3.3           4.7          1.6
104           6.5          3.0           5.8          2.2
69            5.6          2.5           3.9          1.1
55            5.7          2.8           4.5          1.3
132           6.4          2.8           5.6          2.2
29            4.7          3.2           1.6          0.2
127           6.1          3.0           4.9          1.8
26            5.0          3.4           1.6          0.4
128           6.4          2.8           5.6          2.1
131           7.9          3.8           6.4          2.0
145           6.7          3.0           5.2          2.3
108           6.7          2.5           5.8          1.8
143           6.8          3.2           5.9          2.3
45            4.8          3.0           1.4          0.3
30            4.8          3.1           1.6          0.2

In [15]:
y_test

array([[0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.]], dtype=float32)

In [19]:
# Compile the model
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

# Train the model
model.fit(X_train, y_train, epochs=100, batch_size=32, validation_data=(X_test, y_test))

# Evaluate the model
loss, accuracy = model.evaluate(X_test, y_test)
print(f"Test Accuracy: {accuracy * 100:.2f}%")

Epoch 1/100
4/4 [==============================] - 1s 47ms/step - loss: 0.0679 - accuracy: 0.9750 - val_loss: 0.0744 - val_accuracy: 1.0000
Epoch 2/100
4/4 [==============================] - 0s 10ms/step - loss: 0.0683 - accuracy: 0.9833 - val_loss: 0.0706 - val_accuracy: 1.0000
Epoch 3/100
4/4 [==============================] - 0s 12ms/step - loss: 0.0678 - accuracy: 0.9833 - val_loss: 0.0766 - val_accuracy: 1.0000
Epoch 4/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0668 - accuracy: 0.9750 - val_loss: 0.0745 - val_accuracy: 1.0000
Epoch 5/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0665 - accuracy: 0.9750 - val_loss: 0.0729 - val_accuracy: 1.0000
Epoch 6/100
4/4 [==============================] - 0s 13ms/step - loss: 0.0671 - accuracy: 0.9833 - val_loss: 0.0697 - val_accuracy: 1.0000
Epoch 7/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0668 - accuracy: 0.9833 - val_loss: 0.0702 - val_accuracy: 1.0000
Epoch 8/100
4/4 [==============================] - 0s 10ms/step - loss: 0.0663 - accuracy: 0.9833 - val_loss: 0.0747 - val_accuracy: 1.0000
Epoch 9/100
4/4 [==============================] - 0s 12ms/step - loss: 0.0673 - accuracy: 0.9750 - val_loss: 0.0733 - val_accuracy: 1.0000
Epoch 10/100
4/4 [==============================] - 0s 12ms/step - loss: 0.0667 - accuracy: 0.9750 - val_loss: 0.0781 - val_accuracy: 1.0000
Epoch 11/100
4/4 [==============================] - 0s 12ms/step - loss: 0.0672 - accuracy: 0.9833 - val_loss: 0.0773 - val_accuracy: 1.0000
Epoch 12/100
4/4 [==============================] - 0s 12ms/step - loss: 0.0663 - accuracy: 0.9750 - val_loss: 0.0723 - val_accuracy: 1.0000
Epoch 13/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0686 - accuracy: 0.9750 - val_loss: 0.0677 - val_accuracy: 1.0000
Epoch 14/100
4/4 [==============================] - 0s 12ms/step - loss: 0.0663 - accuracy: 0.9833 - val_loss: 0.0687 - val_accuracy: 1.0000
Epoch 15/100
4/4 [==============================] - 0s 12ms/step - loss: 0.0657 - accuracy: 0.9833 - val_loss: 0.0719 - val_accuracy: 1.0000
Epoch 16/100
4/4 [==============================] - 0s 13ms/step - loss: 0.0654 - accuracy: 0.9750 - val_loss: 0.0740 - val_accuracy: 1.0000
Epoch 17/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0670 - accuracy: 0.9750 - val_loss: 0.0763 - val_accuracy: 1.0000
Epoch 18/100
4/4 [==============================] - 0s 13ms/step - loss: 0.0657 - accuracy: 0.9750 - val_loss: 0.0725 - val_accuracy: 1.0000
Epoch 19/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0651 - accuracy: 0.9750 - val_loss: 0.0695 - val_accuracy: 1.0000
Epoch 20/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0653 - accuracy: 0.9833 - val_loss: 0.0692 - val_accuracy: 1.0000
Epoch 21/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0651 - accuracy: 0.9833 - val_loss: 0.0683 - val_accuracy: 1.0000
Epoch 22/100
4/4 [==============================] - 0s 13ms/step - loss: 0.0655 - accuracy: 0.9833 - val_loss: 0.0679 - val_accuracy: 1.0000
Epoch 23/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0652 - accuracy: 0.9833 - val_loss: 0.0704 - val_accuracy: 1.0000
Epoch 24/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0656 - accuracy: 0.9750 - val_loss: 0.0721 - val_accuracy: 1.0000
Epoch 25/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0648 - accuracy: 0.9750 - val_loss: 0.0722 - val_accuracy: 1.0000
Epoch 26/100
4/4 [==============================] - 0s 12ms/step - loss: 0.0651 - accuracy: 0.9750 - val_loss: 0.0731 - val_accuracy: 1.0000
Epoch 27/100
4/4 [==============================] - 0s 10ms/step - loss: 0.0648 - accuracy: 0.9750 - val_loss: 0.0707 - val_accuracy: 1.0000
Epoch 28/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0664 - accuracy: 0.9750 - val_loss: 0.0723 - val_accuracy: 1.0000
Epoch 29/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0649 - accuracy: 0.9750 - val_loss: 0.0665 - val_accuracy: 1.0000
Epoch 30/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0647 - accuracy: 0.9833 - val_loss: 0.0662 - val_accuracy: 1.0000
Epoch 31/100
4/4 [==============================] - 0s 10ms/step - loss: 0.0654 - accuracy: 0.9833 - val_loss: 0.0660 - val_accuracy: 1.0000
Epoch 32/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0648 - accuracy: 0.9750 - val_loss: 0.0715 - val_accuracy: 1.0000
Epoch 33/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0651 - accuracy: 0.9750 - val_loss: 0.0744 - val_accuracy: 1.0000
Epoch 34/100
4/4 [==============================] - 0s 10ms/step - loss: 0.0659 - accuracy: 0.9750 - val_loss: 0.0748 - val_accuracy: 1.0000
Epoch 35/100
4/4 [==============================] - 0s 9ms/step - loss: 0.0656 - accuracy: 0.9750 - val_loss: 0.0674 - val_accuracy: 1.0000
Epoch 36/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0645 - accuracy: 0.9750 - val_loss: 0.0677 - val_accuracy: 1.0000
Epoch 37/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0646 - accuracy: 0.9833 - val_loss: 0.0654 - val_accuracy: 1.0000
Epoch 38/100
4/4 [==============================] - 0s 9ms/step - loss: 0.0647 - accuracy: 0.9833 - val_loss: 0.0657 - val_accuracy: 1.0000
Epoch 39/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0635 - accuracy: 0.9833 - val_loss: 0.0686 - val_accuracy: 1.0000
Epoch 40/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0636 - accuracy: 0.9750 - val_loss: 0.0757 - val_accuracy: 1.0000
Epoch 41/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0645 - accuracy: 0.9833 - val_loss: 0.0753 - val_accuracy: 1.0000
Epoch 42/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0643 - accuracy: 0.9833 - val_loss: 0.0710 - val_accuracy: 1.0000
Epoch 43/100
4/4 [==============================] - 0s 9ms/step - loss: 0.0637 - accuracy: 0.9750 - val_loss: 0.0688 - val_accuracy: 1.0000
Epoch 44/100
4/4 [==============================] - 0s 10ms/step - loss: 0.0637 - accuracy: 0.9750 - val_loss: 0.0661 - val_accuracy: 1.0000
Epoch 45/100
4/4 [==============================] - 0s 12ms/step - loss: 0.0656 - accuracy: 0.9833 - val_loss: 0.0624 - val_accuracy: 1.0000
Epoch 46/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0644 - accuracy: 0.9833 - val_loss: 0.0646 - val_accuracy: 1.0000
Epoch 47/100
4/4 [==============================] - 0s 10ms/step - loss: 0.0632 - accuracy: 0.9833 - val_loss: 0.0675 - val_accuracy: 1.0000
Epoch 48/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0633 - accuracy: 0.9750 - val_loss: 0.0715 - val_accuracy: 1.0000
Epoch 49/100
4/4 [==============================] - 0s 9ms/step - loss: 0.0643 - accuracy: 0.9750 - val_loss: 0.0690 - val_accuracy: 1.0000
Epoch 50/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0632 - accuracy: 0.9750 - val_loss: 0.0688 - val_accuracy: 1.0000
Epoch 51/100
4/4 [==============================] - 0s 10ms/step - loss: 0.0641 - accuracy: 0.9750 - val_loss: 0.0703 - val_accuracy: 1.0000
Epoch 52/100
4/4 [==============================] - 0s 10ms/step - loss: 0.0630 - accuracy: 0.9750 - val_loss: 0.0677 - val_accuracy: 1.0000
Epoch 53/100
4/4 [==============================] - 0s 10ms/step - loss: 0.0634 - accuracy: 0.9750 - val_loss: 0.0653 - val_accuracy: 1.0000
Epoch 54/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0634 - accuracy: 0.9833 - val_loss: 0.0639 - val_accuracy: 1.0000
Epoch 55/100
4/4 [==============================] - 0s 10ms/step - loss: 0.0635 - accuracy: 0.9833 - val_loss: 0.0639 - val_accuracy: 1.0000
Epoch 56/100
4/4 [==============================] - 0s 10ms/step - loss: 0.0630 - accuracy: 0.9833 - val_loss: 0.0657 - val_accuracy: 1.0000
Epoch 57/100
4/4 [==============================] - 0s 10ms/step - loss: 0.0634 - accuracy: 0.9750 - val_loss: 0.0694 - val_accuracy: 1.0000
Epoch 58/100
4/4 [==============================] - 0s 10ms/step - loss: 0.0632 - accuracy: 0.9750 - val_loss: 0.0671 - val_accuracy: 1.0000
Epoch 59/100
4/4 [==============================] - 0s 10ms/step - loss: 0.0643 - accuracy: 0.9750 - val_loss: 0.0650 - val_accuracy: 1.0000
Epoch 60/100
4/4 [==============================] - 0s 9ms/step - loss: 0.0627 - accuracy: 0.9833 - val_loss: 0.0655 - val_accuracy: 1.0000
Epoch 61/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0631 - accuracy: 0.9750 - val_loss: 0.0699 - val_accuracy: 1.0000
Epoch 62/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0633 - accuracy: 0.9750 - val_loss: 0.0669 - val_accuracy: 1.0000
Epoch 63/100
4/4 [==============================] - 0s 10ms/step - loss: 0.0627 - accuracy: 0.9750 - val_loss: 0.0667 - val_accuracy: 1.0000
Epoch 64/100
4/4 [==============================] - 0s 10ms/step - loss: 0.0628 - accuracy: 0.9750 - val_loss: 0.0691 - val_accuracy: 1.0000
Epoch 65/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0627 - accuracy: 0.9750 - val_loss: 0.0674 - val_accuracy: 1.0000
Epoch 66/100
4/4 [==============================] - 0s 10ms/step - loss: 0.0630 - accuracy: 0.9750 - val_loss: 0.0650 - val_accuracy: 1.0000
Epoch 67/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0626 - accuracy: 0.9750 - val_loss: 0.0647 - val_accuracy: 1.0000
Epoch 68/100
4/4 [==============================] - 0s 12ms/step - loss: 0.0628 - accuracy: 0.9750 - val_loss: 0.0669 - val_accuracy: 1.0000
Epoch 69/100
4/4 [==============================] - 0s 13ms/step - loss: 0.0625 - accuracy: 0.9750 - val_loss: 0.0679 - val_accuracy: 1.0000
Epoch 70/100
4/4 [==============================] - 0s 10ms/step - loss: 0.0627 - accuracy: 0.9750 - val_loss: 0.0659 - val_accuracy: 1.0000
Epoch 71/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0626 - accuracy: 0.9750 - val_loss: 0.0657 - val_accuracy: 1.0000
Epoch 72/100
4/4 [==============================] - 0s 10ms/step - loss: 0.0627 - accuracy: 0.9750 - val_loss: 0.0633 - val_accuracy: 1.0000
Epoch 73/100
4/4 [==============================] - 0s 12ms/step - loss: 0.0632 - accuracy: 0.9750 - val_loss: 0.0670 - val_accuracy: 1.0000
Epoch 74/100
4/4 [==============================] - 0s 10ms/step - loss: 0.0621 - accuracy: 0.9750 - val_loss: 0.0665 - val_accuracy: 1.0000
Epoch 75/100
4/4 [==============================] - 0s 10ms/step - loss: 0.0627 - accuracy: 0.9750 - val_loss: 0.0665 - val_accuracy: 1.0000
Epoch 76/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0628 - accuracy: 0.9750 - val_loss: 0.0609 - val_accuracy: 1.0000
Epoch 77/100
4/4 [==============================] - 0s 15ms/step - loss: 0.0632 - accuracy: 0.9833 - val_loss: 0.0599 - val_accuracy: 1.0000
Epoch 78/100
4/4 [==============================] - 0s 12ms/step - loss: 0.0626 - accuracy: 0.9833 - val_loss: 0.0611 - val_accuracy: 1.0000
Epoch 79/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0620 - accuracy: 0.9833 - val_loss: 0.0673 - val_accuracy: 1.0000
Epoch 80/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0625 - accuracy: 0.9750 - val_loss: 0.0718 - val_accuracy: 1.0000
Epoch 81/100
4/4 [==============================] - 0s 10ms/step - loss: 0.0633 - accuracy: 0.9750 - val_loss: 0.0686 - val_accuracy: 1.0000
Epoch 82/100
4/4 [==============================] - 0s 10ms/step - loss: 0.0622 - accuracy: 0.9750 - val_loss: 0.0663 - val_accuracy: 1.0000
Epoch 83/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0624 - accuracy: 0.9750 - val_loss: 0.0670 - val_accuracy: 1.0000
Epoch 84/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0623 - accuracy: 0.9750 - val_loss: 0.0647 - val_accuracy: 1.0000
Epoch 85/100
4/4 [==============================] - 0s 16ms/step - loss: 0.0628 - accuracy: 0.9750 - val_loss: 0.0624 - val_accuracy: 1.0000
Epoch 86/100
4/4 [==============================] - 0s 12ms/step - loss: 0.0623 - accuracy: 0.9750 - val_loss: 0.0669 - val_accuracy: 1.0000
Epoch 87/100
4/4 [==============================] - 0s 10ms/step - loss: 0.0624 - accuracy: 0.9750 - val_loss: 0.0654 - val_accuracy: 1.0000
Epoch 88/100
4/4 [==============================] - 0s 10ms/step - loss: 0.0615 - accuracy: 0.9750 - val_loss: 0.0646 - val_accuracy: 1.0000
Epoch 89/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0635 - accuracy: 0.9750 - val_loss: 0.0611 - val_accuracy: 1.0000
Epoch 90/100
4/4 [==============================] - 0s 10ms/step - loss: 0.0616 - accuracy: 0.9833 - val_loss: 0.0648 - val_accuracy: 1.0000
Epoch 91/100
4/4 [==============================] - 0s 10ms/step - loss: 0.0613 - accuracy: 0.9750 - val_loss: 0.0666 - val_accuracy: 1.0000
Epoch 92/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0631 - accuracy: 0.9750 - val_loss: 0.0707 - val_accuracy: 1.0000
Epoch 93/100
4/4 [==============================] - 0s 10ms/step - loss: 0.0620 - accuracy: 0.9750 - val_loss: 0.0653 - val_accuracy: 1.0000
Epoch 94/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0614 - accuracy: 0.9750 - val_loss: 0.0624 - val_accuracy: 1.0000
Epoch 95/100
4/4 [==============================] - 0s 13ms/step - loss: 0.0618 - accuracy: 0.9750 - val_loss: 0.0604 - val_accuracy: 1.0000
Epoch 96/100
4/4 [==============================] - 0s 10ms/step - loss: 0.0646 - accuracy: 0.9750 - val_loss: 0.0653 - val_accuracy: 1.0000
Epoch 97/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0624 - accuracy: 0.9750 - val_loss: 0.0603 - val_accuracy: 1.0000
Epoch 98/100
4/4 [==============================] - 0s 10ms/step - loss: 0.0621 - accuracy: 0.9750 - val_loss: 0.0615 - val_accuracy: 1.0000
Epoch 99/100
4/4 [==============================] - 0s 11ms/step - loss: 0.0618 - accuracy: 0.9833 - val_loss: 0.0599 - val_accuracy: 1.0000
Epoch 100/100
4/4 [==============================] - 0s 13ms/step - loss: 0.0620 - accuracy: 0.9833 - val_loss: 0.0605 - val_accuracy: 1.0000
1/1 [==============================] - 0s 24ms/step - loss: 0.0605 - accuracy: 1.0000
Test Accuracy: 100.00%